@model IEnumerable<Practico01_G02L.Models.Alumno>

@{
    ViewBag.Title = "Index";
    List<SelectListItem> igrado = (List<SelectListItem>)ViewBag.itemgrado;
    List<SelectListItem> iseccion = (List<SelectListItem>)ViewBag.itemseccion;
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")

    @using (Html.BeginForm("Index", "Alumnos", FormMethod.Get))
    {

    <p>
        Titulo: @Html.TextBox("BuscarNombre") <br />
        @Html.DropDownList("grado", igrado, "Grados", new { htmlAttributes = new { @class = "form-control" } })
        @Html.DropDownList("seccion", iseccion, "Secciones", new { htmlAttributes = new { @class = "form-control" } })
        <input type="submit" value="Filtrar" />
    </p>

}
    </p>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nombres)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Apellidos)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Fechanacimiento)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Sexo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Direccion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Telefono)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Idgrado)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdSeccion)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Nombres)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Apellidos)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Fechanacimiento)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Sexo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Direccion)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Telefono)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Idgrado)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IdSeccion)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                    @Html.ActionLink("Notas", "InsertNotes", new { id = item.Id })
                    @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                </td>
            </tr>
        }

    </table>


